*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode
.ionide

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Remove all local docker data
docker-data/
/03 LoggingAndConfiguration/LoggingAndConfiguration/appsettings.local.json
02 Databases/EFCoreExample/EFCoreExample(1).csproj
02 Databases/EFCoreExample/Migrations/20211220183832_InitialCreate.Designer(1).cs
02 Databases/EFCoreExample/Migrations/20211220200220_Bookings.Designer(1).cs
02 Databases/EFCoreExample/Migrations/20220208184257_BookingDates.Designer(1).cs
02 Databases/EFCoreExample/Properties/launchSettings(1).json
